<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Successfully</title>
</head>
<body>
    <p>Hello <b>{{userName}}</b>,</p>
    <p>Hope this email finds you well.We are very glad to know that you successfully registered with us <strong style="color: rgb(7, 147, 0); font-weight: bold;">The wolfweb Organisation, </strong> on the date of {{date}}.</p>
    <p>Yor registration email is {{email}}.</p>
    <br><br>
    <p>Thanks & Regards,</p>
    <p>The Wolfweb Organisation.</p>
</body>
</html>